* {
    box-sizing: border-box;
}

:root {
    --header-color: rgb(240, 200, 200);
    --font-color: rgb(48, 14, 14);
    --bg-color: rgb(252, 235, 235);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    line-height: 1.6;
    color: var(--font-color);
    background-color: var(--bg-color);
}

header {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: var(--header-color);
    max-inline-size: 100%;

}

header img {
    margin: 0 auto;
    max-inline-size: 100%;
    max-height: 200px;
}

.primary-navigation ul {
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-navigation li {
    display: inline-block;
}

.primary-navigation a {
    margin-top: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    margin-inline: 5px;
    color: var(--font-color);
}

.primary-navigation a:hover,
.primary-navigation a:focus-visible {
    color: rgb(62, 39, 117);
}

section {  
    margin: 20px;
}

section img {
    display: block;
    margin: 20px auto;
    max-inline-size: 100%;
    padding: 20px;
}

.wrapper {
    max-inline-size: 1200px;
    margin-inline: auto;
}

.portfolio-images {
    display: grid;
    gap: 40px;
    margin-block-end: 20px;

    @media (width > 720px) {
        grid-template-columns: 1fr 1fr;
    }
}

ul {
    margin-block: 20px;
}

li {
    font-size: 1.5rem;
    margin-block: 10px;
}

h1 {
    color: var(--font-color);
    text-align: center;
}

h2 {
    color: var(--font-color);
    margin-block: 40px;
}

.jewelry-bg {
    font-size: 1.5rem;
    font-weight: bold;
    background-image: url("../images/jewelry_bg.jpeg");
    padding: 24px;
    border: solid 5px var(--header-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

footer {
    font-weight: lighter;
    text-align: center;
    background-color: var(--header-color);
    padding: 20px;
    font-size: 0.9rem;
    border: solid 4px var(--font-color);
}



a:link {
    color: rgb(129, 15, 0);
}

a:visited {
    color: rgb(112, 8, 133);
}

a:hover,
a:focus-visible {
    color: rgb(62, 39, 117);
}

a:active {
    color: rgb(192, 73, 73);
}

input,
button,
textarea {
    font: inherit;
}